body {
  font-family: "poppins", sans-serif;
  background: #020209;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/wiliamsburg-bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #020209;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 5px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section img {
  max-width: 500px;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  opacity: 0.7;
}

main h4 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}
.secondary {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: #462cb3;
  text-decoration: none;
}
.video-responsive {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 40px;
  border: 5px solid lightgrey;
}
.img-1 {
  filter: brightness(110%) hue-rotate(-15deg);
}

.grid {
  display: grid;
  grid-gap: 64px;
}
.card-header {
  display: grid;
}
.card-header.grid {
  grid-gap: 0;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.img-responsive {
  width: 100%;
  display: block;
}
.photo-gallery {
  display: grid;
  gap: 30px;
}
.photo-gallery img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.8)
    ),
    url(../images/domino-park-footer.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 100px auto;
  
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}
table h3 {
  margin: 18px 0;
  text-align: left;
}

        
footer a {
  color: white;
  opacity: 0.7;
}


@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
  .photo-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .photo-gallery {
    display: grid;
    gap: 20px;
  }
}
